<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar sesión</title>
    <link rel="stylesheet" href="resources/css/bootstrap.min.css">
    <link rel="stylesheet" href="resources/css/styles.css">
    <link rel="stylesheet" href="resources/css/styles_system.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&family=Quicksand:wght@300&family=Staatliches&display=swap"
        rel="stylesheet">
</head>

<body>

    <header class="contenedor" id="headerInicio">
        <div id="header-pagina">
            <nav>
                <div id="header-logo-dr">
                    <a href="login" id="logo-header">
                        <h2 class="logo">Dr. Raúl Langle Galindo</h2>
                        <span>MEDICO PEDIATRA</span>
                    </a>
                </div>
            </nav>
        </div>
    </header>

    <main class="center-flex all-display">
        <section class="main-container center-flex">
            <div id="inicio-sesion">
                <h2 class="sub-title">Inicio de Sesión</h2>
                <div id="img-user">
                    <i class="far fa-user"></i>
                </div>
                <form action="/auth" id="form-login" method="POST">
                    <label for="email-user">
                        <input type="email" placeholder="Correo Electrónico" name="email" id="email">
                    </label>
                    <label for="password-user">
                        <input type="password" placeholder="Contraseña" name="password" id="password">
                    </label>
                    <button type="submit" class="boton">Entrar</button><br>
                </form>
            </div>
        </section>
    </main>

    <footer id="page-footer" class="contenedor">
        <div>
            <p>
                Copyright <i class="fas fa-copyright"></i>
                2020. Todos los
                derechos reservados
            </p>
        </div>
    </footer>

    <!--Usaremos sweet alert para las alertas-->
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <!--Esto nos permite especificar codigo para el ejs y sweet alert-->
    <% if(typeof alert !=  "undefined") { %>
        <script>
            Swal.fire({
                title: '<%= alertTitle %>',
                text: '<%= alertMessage %>',
                icon: '<%= alertIcon %>',
                showConfirmButton: <%= showConfirmButton %>,
                timer: <%= timer %>
            }).then(() => {
                window.location = '/<%= ruta %>'
            })
        </script>
    <% } %>

</body>

</html>