<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema Consultorio</title>
    <link rel="stylesheet" href="resources/css/bootstrap.min.css">
    <link rel="stylesheet" href="resources/css/styles.css">
    <link rel="stylesheet" href="resources/css/styles_system.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&family=Quicksand:wght@300&family=Staatliches&display=swap"
        rel="stylesheet">
</head>

<body>

    <header class="contenedor" id="headerInicio">
        <div id="header-pagina">
            <nav>
                <div id="header-logo-dr">
                    <a href="/" id="logo-header">
                        <h2 class="logo">Dr. Raúl Langle Galindo</h2>
                        <span>MEDICO PEDIATRA</span>
                    </a>
                </div>
                <button type="button" id="boton-menu"><i class="fas fa-bars"></i></button>
                <div id="menu-nav">
                    <ul>
                        <li><a href="" id="boton-config"><i class="fas fa-cog"></i> Configuracion</a></li>
                        <li><a href="/logout"><i class="fas fa-sign-out-alt"></i> Cerrar Sesión</a></li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>

    <main class="main-menu">

        <section class="menu-content center-flex">

            <div class="top-menu">
                <h1> ¡Bienvenido <%= name %>!</h1>
            </div>

            <div class="option-menu">
                <section class="section-opcion">
                    <a href="/consultas_system" class="opcion-container" id="consulta">
                        <div>
                            <h2 class="sub-title">Ver consultas</h2>
                            <i class="fas fa-stethoscope"></i>
                        </div>
                    </a>
                </section>

                <section class="section-opcion">
                    <a href="/exp_system" class="opcion-container" id="expediente">
                        <div>
                            <h2 class="sub-title">Expedientes</h2>
                            <i class="fas fa-file-medical-alt"></i>
                        </div>
                    </a>
                </section>

                <section class="section-opcion">
                    <a href="/citas_system" class="opcion-container" id="citas">
                        <div>
                            <h2 class="sub-title">Citas</h2>
                            <i class="fas fa-calendar-alt"></i>
                        </div>
                    </a>
                </section>
            </div>

        </section>

    </main>

    <div id="popup-config">
        <button type="button" id="boton-cerrarConfig" class="boton-cerrar"><i
            class="fas fa-window-close"></i></button>
        <div class="config-user">
            <div id="lista-user" class="div-config active">
                <h2 class="sub-title">Configuración de usuarios</h2>
                <button class="boton" id="botonAgregar-Config"><i class="fas fa-user-plus"></i></button>
                <section class="section_user">
                    <% users.forEach( user => { %>
                        <div class="div_user">
                            <ul>
                                <li><%= user.name %></li>
                                <li><%= user.email %></li>
                                <li><%= user.type %></li>
                            </ul>
                            <% if(user.type != "admin") { %>
                                <a href="/borrarUser/<%= user.id %>" class="btn-delete"><i class="fas fa-trash-alt"></i></a>
                            <% } %>
                        </div>
                    <% }); %>
                </section>
            </div>
            <div id="agregar-user" class="div-config">
                <h2 class="sub-title">Crear usuario</h2>
                <button class="boton" id="botonRegresar-Config"><i class="fas fa-arrow-left"></i></button>
                <form action="/crearUsuario" id="form-user" method="POST">
                    <label for="nombre_usuario">
                        <input type="text" name="nombre_usuario" id="nombre_usuario" placeholder="Nombre del usuario" required>
                    </label>
                    <label for="email_usuario">
                        <input type="email" name="email_usuario" id="email_usuario" placeholder="Correo electronico" required>
                    </label>
                    <label for="tipo_usuario">
                        <span>Tipo de usuario:</span><br>
                        <select id="tipo_usuario" name="tipo_usuario" required>
                            <option value="admin">admin</option>
                            <option value="secretaria">secretaria</option>
                        </select>
                    </label>
                    <label for="pass_usuario">
                        <input type="password" name="pass_usuario" id="pass_usuario" placeholder="Contraseña" required>
                    </label>
                    <button type="submit" id="submit-usuario" class="boton">Agregar</button>
                </form>
            </div>
        </div>
    </div>

    <footer id="page-footer" class="contenedor">
        <div>
            <p>
                Copyright <i class="fas fa-copyright"></i>
                2020. Todos los
                derechos reservados
            </p>
        </div>
    </footer>

    <script type="module" src="resources/js/script.js"></script>
    <script type="module" src="resources/js/script-system.js"></script>

</body>

</html>