<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema Consultorio</title>
    <link rel="stylesheet" href="resources/css/bootstrap.min.css">
    <link rel="stylesheet" href="resources/css/styles.css">
    <link rel="stylesheet" href="resources/css/styles_system.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&family=Quicksand:wght@300&family=Staatliches&display=swap"
        rel="stylesheet">
</head>

<body>

    <header class="contenedor" id="headerInicio">
        <div id="header-pagina">
            <nav>
                <div id="header-logo-dr">
                    <a href="/" id="logo-header">
                        <h2 class="logo">Dr. Raúl Langle Galindo</h2>
                        <span>MEDICO PEDIATRA</span>
                    </a>
                </div>
                <button type="button" id="boton-menu"><i class="fas fa-bars"></i></button>
                <div id="menu-nav">
                    <ul>
                        <li><a href="/system"><i class="fas fa-home"></i> Inicio</a></li>
                        <li><a href="/logout"><i class="fas fa-sign-out-alt"></i> Cerrar Sesión</a></li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>

    <main class="main-expedientes">

        <section>

            <div class="top-menu">
                <h1>Expedientes</h1>
            </div>

            <button id="boton-crear-exp" class="boton"><i class="fas fa-folder-plus"></i> Crear un expediente</button>

            <table class="tabla-expedientes">
                <thead>
                    <tr>
                        <th scope="col">Nombre(s)</th>
                        <th scope="col">Apellido Paterno</th>
                        <th scope="col">Apellido Materno</th>
                        <th scope="col">Sexo</th>
                        <th scope="col">Fecha Nacimiento</th>
                        <th scope="col">Funciones</th>
                    </tr>
                </thead>
                <tbody>
                    <% pacientes.forEach( paciente => { %>
                        <tr>
                            <td><%= paciente.nombre %></td>
                            <td><%= paciente.apellido_paterno %></td>
                            <td><%= paciente.apellido_materno %></td>
                            <td><%= paciente.sexo %></td>
                            <td><%= paciente.fecha_nacimiento %></td>
                            <td>
                                <a href="/expediente/<%= paciente.id %>" class="btn-delete"><i class="fas fa-eye"></i></a>
                                <a href="/borrarExpediente/<%= paciente.id %>" class="btn-delete"><i class="fas fa-trash-alt"></i></a>
                            </td>
                        </tr>
                    <% }); %>
                </tbody>
            </table>

        </section>

    </main>

    <div id="popup-exp" class="popup-system">
        <button type="button" id="boton-cerrarCrearExp" class="boton-cerrar"><i
                class="fas fa-window-close"></i></button>
        <div class="exp-paciente div-config">
            <h2 class="sub-title">Crear un expediente</h2>
            <form action="/crearExpediente" id="form-exp" method="post">
                
                <div>
                    <h3 class="tipo-info-title">Información del paciente</h3>
                    <label for="nombre_paciente">
                        <span>Nombre(s):</span><br>
                        <input type="text" name="nombre_paciente" id="nombre_paciente" required>
                    </label>
                    <label for="apellido_paterno_paciente">
                        <span>Apellido paterno:</span><br>
                        <input type="text" name="apellido_paterno_paciente" id="apellido_paterno_paciente" required>
                    </label>
                    <label for="apellido_materno_paciente">
                        <span>Apellido materno:</span><br>
                        <input type="text" name="apellido_materno_paciente" id="apellido_materno_paciente" required>
                    </label>
                    <label for="sexo_paciente">
                        <span>Sexo:</span><br>
                        <select id="sexo_paciente" name="sexo_paciente" required>
                            <option value="Masculino">Masculino</option>
                            <option value="Femenino">Femenino</option>
                        </select>
                    </label>
                    <label for="fecha_nacimiento">
                        <span>Fecha de nacimiento:</span><br>
                        <input type="date" name="fecha_nacimiento" id="fecha_nacimiento" required>
                    </label>
                    <label for="derechohabiente_paciente">
                        <span>Derechohabiente:</span><br>
                        <select id="derechohabiente_paciente" name="derechohabiente_paciente" required>
                            <option value="Ninguno">Ninguno</option>
                            <option value="IMSS">IMSS</option>
                            <option value="ISSSTE">ISSSTE</option>
                            <option value="ISSSTEP">ISSSTEP</option>
                            <option value="Seguro Popular">Seguro Popular</option>
                            <option value="Otro">Otro</option>
                        </select>
                    </label>
                </div>
                
                <div>
                    <h3 class="tipo-info-title">Información de la madre</h3>
                    <label for="nombre_madre">
                        <span>Nombre(s):</span><br>
                        <input type="text" name="nombre_madre" id="nombre_madre" required>
                    </label>
                    <label for="apellido_paterno_madre">
                        <span>Apellido paterno:</span><br>
                        <input type="text" name="apellido_paterno_madre" id="apellido_paterno_madre" required>
                    </label>
                    <label for="apellido_materno_madre">
                        <span>Apellido materno:</span><br>
                        <input type="text" name="apellido_materno_madre" id="apellido_materno_madre" required>
                    </label>
                    <label for="edad_madre">
                        <span>Edad:</span><br>
                        <input type="number" name="edad_madre" id="edad_madre" required>
                    </label>
                    <label for="grupo_sanguineo_madre">
                        <span>Grupo sanguineo:</span><br>
                        <select name="grupo_sanguineo_madre" id="grupo_sanguineo_madre" required>
                            <option value="O-">O-</option>
                            <option value="O+">O+</option>
                            <option value="A-">A-</option>
                            <option value="A+">A+</option>
                            <option value="B-">B-</option>
                            <option value="B+">B+</option>
                            <option value="AB-">AB-</option>
                            <option value="AB+">AB+</option>
                        </select>
                    </label>
                    <label for="ocupacion_madre">
                        <span>Ocupacion:</span><br>
                        <input type="text" name="ocupacion_madre" id="ocupacion_madre" required>
                    </label>
                    <label for="enfermedad_madre">
                        <span>¿Tiene alguna enfermedad?</span><br>
                        <input type="text" name="enfermedad_madre" id="enfermedad_madre" required>
                    </label>
                    <label for="antecedentes_madre">
                        <span>
                            ¿Tiene antecedentes heredofamiliares?<br>(Diabetes, Hipertension, Asma, Epilepsia, Obesidad,
                            Infartos al corazon, Cancer, Insuficiencia Renal, Malformaciones, Drogas, etc..).
                        </span><br>
                        <input type="text" name="antecedentes_madre" id="antecedentes_madre" required>
                    </label>
                    <label for="embarazos_madre">
                        <span>¿Cuantos embarazos ha tenido?</span><br>
                        <input type="number" name="embarazos_madre" id="embarazos_madre" required>
                    </label>
                    <label for="partos_madre">
                        <span>¿Cuantos partos ha tenido?</span><br>
                        <input type="number" name="partos_madre" id="partos_madre" required>
                    </label>
                    <label for="cesareas_madre">
                        <span>¿Cuantas cesareas ha tenido?</span><br>
                        <input type="number" name="cesareas_madre" id="cesareas_madre" required>
                    </label>
                    <label for="abortos_madre">
                        <span>¿Cuantos abortos ha tenido?</span><br>
                        <input type="number" name="abortos_madre" id="abortos_madre" required>
                    </label>
                </div>
                
                <div>
                    <h3 class="tipo-info-title">Información del padre</h3>
                    <label for="nombre_padre">
                        <span>Nombre(s):</span><br>
                        <input type="text" name="nombre_padre" id="nombre_padre" required>
                    </label>
                    <label for="apellido_paterno_padre">
                        <span>Apellido paterno:</span><br>
                        <input type="text" name="apellido_paterno_padre" id="apellido_paterno_padre" required>
                    </label>
                    <label for="apellido_materno_padre"><br>
                        <span>Apellido materno:</span><br>
                        <input type="text" name="apellido_materno_padre" id="apellido_materno_padre" required>
                    </label>
                    <label for="edad_padre">
                        <span>Edad:</span><br>
                        <input type="number" name="edad_padre" id="edad_padre" required>
                    </label>
                    <label for="grupo_sanguineo_padre">
                        <span>Grupo sanguineo:</span><br>
                        <select name="grupo_sanguineo_padre" id="grupo_sanguineo_padre" required>
                            <option value="O-">O-</option>
                            <option value="O+">O+</option>
                            <option value="A-">A-</option>
                            <option value="A+">A+</option>
                            <option value="B-">B-</option>
                            <option value="B+">B+</option>
                            <option value="AB-">AB-</option>
                            <option value="AB+">AB+</option>
                        </select>
                    </label>
                    <label for="ocupacion_padre">
                        <span>Ocupacion:</span><br>
                        <input type="text" name="ocupacion_padre" id="ocupacion_padre" required>
                    </label>
                    <label for="enfermedad_padre">
                        <span>¿Tiene alguna enfermedad?</span><br>
                        <input type="text" name="enfermedad_padre" id="enfermedad_padre" required>
                    </label>
                    <label for="antecedentes_padre">
                        <span>
                            ¿Tiene antecedentes heredofamiliares?<br>(Diabetes, Hipertension, Asma, Epilepsia, Obesidad,
                            Infartos al corazon, Cancer, Insuficiencia Renal, Malformaciones, Drogas, etc..).
                        </span><br>
                        <input type="text" name="antecedentes_padre" id="antecedentes_padre" required>
                    </label>
                </div>
                
                <div>
                    <h3 class="tipo-info-title">Información de contacto</h3>
                    <label for="domicilio_paciente">
                        <span>Domicilio: </span><br>
                        <input type="text" name="domicilio_paciente" id="domicilio_paciente" required>
                    </label>
                    <label for="municipio_paciente">
                        <span>Municipio:</span><br>
                        <input type="text" name="municipio_paciente" id="municipio_paciente" required>
                    </label>
                    <label for="estado_paciente">
                        <span>Estado:</span><br>
                        <input type="text" name="estado_paciente" id="estado_paciente" required>
                    </label>
                    <label for="telefono_paciente">
                        <span>Telefono:</span><br>
                        <input type="text" name="telefono_paciente" id="telefono_paciente" required>
                    </label>
                    <label for="correo_paciente">
                        <span>Correo electronico:</span><br>
                        <input type="email" name="correo_paciente" id="correo_paciente">
                    </label>
                    <label for="familiar_paciente">
                        <span>Nombre de otro familiar responsable: (Opcional)</span><br>
                        <input type="text" name="familiar_paciente" id="familiar_paciente">
                    </label>
                </div>
                
                <div>
                    <h3 class="tipo-info-title">Antecedentes Perinatales</h3>
                    <label for="num_hijo">
                        <span>¿Que No. de hijo(a) es el paciente?</span>
                        <input type="number" name="num_hijo" id="num_hijo">
                    </label>
                    <label for="control_medico">
                        <span>¿LLevo control médico del embarazo? ¿Dónde?</span>
                        <input type="text" name="control_medico" id="control_medico">
                    </label>
                    <label for="sem_gestacion">
                        <span>¿A las cuantas semanas tuvo al hijo(a)?</span>
                        <input type="number" name="sem_gestacion" id="sem_gestacion">
                    </label>
                    <label for="tipo_procedimiento">
                        <span>¿Como nacio el niño(a)?</span>
                        <select name="tipo_procedimiento" id="tipo_procedimiento">
                            <option value="Cesarea">Cesarea</option>
                            <option value="Parto">Parto</option>
                        </select>
                    </label>
                    <label for="razon_procedimiento">
                        <span>Razón:</span>
                        <input type="text" name="razon_procedimiento" id="razon_procedimiento">
                    </label>
                    <label for="lugar_nacimiento">
                        <span>¿Donde nacio el niño(a)?</span>
                        <input type="text" name="lugar_nacimiento" id="lugar_nacimiento">
                    </label>
                    <label for="nombre_medico">
                        <span>Nombre del médico tratante:</span>
                        <input type="text" name="nombre_medico" id="nombre_medico">
                    </label>    
                    <label for="peso_paciente">
                        <span>Peso al nacer:</span>
                        <input type="number" name="peso_paciente" id="peso_paciente">
                    </label>
                    <label for="talla_paciente">
                        <span>Talla al nacer:</span>
                        <input type="number" name="talla_paciente" id="talla_paciente">
                    </label>
                    <label for="reaccion_paciente">
                        <span>¿Tuvo alguna reacción al nacer?</span>
                        <input type="text" name="reaccion_paciente" id="reaccion_paciente">
                    </label>
                    <label for="requerimientos_paciente">
                        <span>¿Requirio de algun procedimiento el niño(a) al nacer?</span>
                        <input type="text" name="requerimientos_paciente" id="requerimientos_paciente">
                    </label>
                    <label for="tiempo_requerimientos">
                        <span>Tiempo del procedimiento: </span>
                        <input type="text" name="tiempo_requerimientos" id="tiempo_requerimientos">
                    </label>
                    <label for="sangre_derivados">
                        <span>¿Tuvo sangre y/o derivados?</span>
                        <input type="text" name="sangre_derivados" id="sangre_derivados">
                    </label>
                    <label for="asfixia_paciente">
                        <span>¿Tuvo asfixia al nacer?</span>
                        <input type="text" name="asfixia_paciente" id="asfixia_paciente">
                    </label>
                    <label for="razon_asfixia">
                        <span>Razón de las asfixia:</span>
                        <input type="text" name="razon_asfixia" id="razon_asfixia">
                    </label>
                    <label for="apgar_paciente">
                        <span>APGAR:</span>
                        <input type="text" name="apgar_paciente" id="apgar_paciente">
                    </label>
                    <label for="diagnostico_alta">
                        <span>Diagnostico de alta:</span>
                        <input type="text" name="diagnostico_alta" id="diagnostico_alta">
                    </label>
                </div>
                
                <div>
                    <h3 class="tipo-info-title">Alimentación</h3>
                    <label for="seno_materno">
                        <span>¿Se le dio seno materno?</span>
                        <select name="seno_materno" id="seno_materno">
                            <option value="Sí">Sí</option>
                            <option value="No">No</option>
                        </select>
                    </label>
                    <label for="formulas">
                        <span>¿Que formulas se utilizaron? (Marca)</span>
                        <input type="text" name="formulas" id="formulas">
                    </label>
                    <label for="ablactacion">
                        <span>Ablactacion (Edad):</span>
                        <input type="number" name="ablactacion" id="ablactacion">
                    </label>
                    <label for="destete">
                        <span>Destete (Edad):</span>
                        <input type="number" name="destete" id="destete">
                    </label>
                    <label for="dieta_actual">
                        <span>Dieta actual del paciente:</span>
                        <input type="text" name="dieta_actual" id="dieta_actual">
                    </label>
                </div>
                
                <div>
                    <h3 class="tipo-info-title">Inmunizaciones</h3>
                    <label for="tamiz_neonatal">
                        <span>Tamiz neonatal:</span>
                        <select multiple name="tamiz_neonatal" id="tamiz_neonatal">
                            <option value="Metábolico">Metábolico</option>
                            <option value="Auditivo">Auditivo</option>
                        </select>
                    </label>
                    <label for="bcg">
                        <span>BCG:</span>
                        <select multiple name="bcg" id="bcg">
                            <option value="Contra la tuberculosis (al nacimiento)">Tuberculosis (al nacimiento)</option>
                            <option value="AntiHepatitisB">AntiHepatitisB</option>
                        </select>
                    </label>
                    <label for="poliomelitis">
                        <span>Poliomelitis (gotas via oral):</span>
                        <select name="poliomelitis" id="poliomelitis">
                            <option value="2">2 meses</option>
                            <option value="4">4 meses</option>
                            <option value="6">6 meses</option>
                        </select>
                    </label>
                    <label for="pentavalente">
                        <span>
                            Pentavalente (Difteria, Tos ferina, Tétanos, Hepatitis B, Haemofilus Influeza) o 
                            Hexavalente (las anteriores + Polio) intramuscular en muslo: 
                        </span>
                        <select name="pentavalente" id="pentavalente">
                            <option value="2">2 meses</option>
                            <option value="4">4 meses</option>
                            <option value="6">6 meses</option>
                        </select>
                    </label>
                    <label for="triple_viral">
                        <span>Triple viral (sarampión, rubéola, y parotiditis) intramuscular en glúteo al año de edad:</span>
                        <select name="triple_viral" id="triple_viral">
                            <option value="Sí">Sí</option>
                            <option value="No">No</option>
                        </select>
                    </label>
                    <label for="revacunaciones">
                        <span>Revacunaciones:</span>
                        <select name="revacunaciones" id="revacunaciones">
                            <option value="2">2 años</option>
                            <option value="4">4 años</option>
                            <option value="6">6 años</option>
                        </select>
                    </label>
                    <label for="influeza">
                        <span>Influenza: </span>
                        <select name="influeza" id="influeza">
                            <option value="Sí">Sí</option>
                            <option value="No">No</option>
                        </select>
                    </label>
                    <label for="neumococo">
                        <span>Neumococo:</span>
                        <select name="neumococo" id="neumococo">
                            <option value="Sí">Sí</option>
                            <option value="No">No</option>
                        </select>
                    </label>
                    <label for="hepatitis">
                        <span>Hepatitis:</span>
                        <select name="hepatitis" id="hepatitis">
                            <option value="Sí">Sí</option>
                            <option value="No">No</option>
                        </select>
                    </label>
                    <label for="varicela">
                        <span>Varicela:</span>
                        <select name="varicela" id="varicela">
                            <option value="Sí">Sí</option>
                            <option value="No">No</option>
                        </select>
                    </label>
                    <label for="otras_inmunizaciones">
                        <span>Otras:</span>
                        <input type="text" name="otras_inmunizaciones" id="otras_inmunizaciones">
                    </label>
                </div>
                
                <div>
                    <h3 class="tipo-info-title">Antecedentes personales</h3>
                    <label for="reflujo">
                        <span>Reflujo gastroesofagico: </span>
                        <select name="reflujo" id="reflujo">
                            <option value="Sí">Sí</option>
                            <option value="No">No</option>
                        </select>
                    </label>
                    <label for="ictericia">
                        <span>Ictericia:</span>
                        <select name="ictericia" id="ictericia">
                            <option value="Sí">Sí</option>
                            <option value="No">No</option>
                        </select>
                    </label>
                    <label for="onfalitis">
                        <span>Onfalitis (Inf. de ombligo):</span>
                        <select name="onfalitis" id="onfalitis">
                            <option value="Sí">Sí</option>
                            <option value="No">No</option>
                        </select>
                    </label>
                    <label for="exantematicas">
                        <span>Exantematicas:</span>
                        <select multiples name="exantematicas" id="exantematicas">
                            <option value="Sarampión">Sarampión</option>
                            <option value="Rubeola">Rubeola</option>
                            <option value="Varicela">Varicela</option>
                            <option value="Escarlatina">Escarlatina</option>
                        </select>
                    </label>
                    <label for="anemia">
                        <span>Anemia:</span>
                        <select name="anemia" id="anemia">
                            <option value="Sí">Sí</option>
                            <option value="No">No</option>
                        </select>
                    </label>
                    <label for="bajo_peso">
                        <span>Bajo peso:</span>
                        <select name="bajo_peso" id="bajo_peso">
                            <option value="Sí">Sí</option>
                            <option value="No">No</option>
                        </select>
                    </label>
                    <label for="desnutricion">
                        <span>Desnutrición:</span>
                        <select name="desnutricion" id="desnutricion">
                            <option value="Sí">Sí</option>
                            <option value="No">No</option>
                        </select>
                    </label>
                    <label for="diarreas">
                        <span>Diarreas:</span>
                        <select name="diarreas" id="diarreas">
                            <option value="Sí">Sí</option>
                            <option value="No">No</option>
                        </select>
                    </label>
                    <label for="deshidratacion">
                        <span>Deshidratación:</span>
                        <select name="deshidratacion" id="deshidratacion">
                            <option value="Sí">Sí</option>
                            <option value="No">No</option>
                        </select>
                    </label>
                    <label for="conjuntivitis">
                        <span>Conjuntivitis</span>
                        <select name="conjuntivitis" id="conjuntivitis">
                            <option value="Sí">Sí</option>
                            <option value="No">No</option>
                        </select>
                    </label>
                    <label for="otitis_supurada">
                        <span>Otitis supurada:</span>
                        <select name="otitis_supurada" id="otitis_supurada">
                            <option value="Sí">Sí</option>
                            <option value="No">No</option>
                        </select>
                    </label>
                    <label for="infecciones_respiratorias">
                        <span>Infecciones respiratorias:</span>
                        <select multiple name="infecciones_respiratorias" id="infecciones_respiratorias">
                            <option value="Catarro">Catarro</option>
                            <option value="Faringitis">Faringitis</option>
                            <option value="Rinofaringitis">Rinofaringitis</option>
                            <option value="Amigdalitis">Amigdalitis</option>
                            <option value="Sinusitis">Sinusitis</option>
                            <option value="Traqueitis">Traqueitis</option>
                            <option value="Bronquitis">Bronquitis</option>
                            <option value="Bronconeumonia">Bronconeumonia</option>
                            <option value="Neumonia">Neumonia</option>
                            <option value="Asma">Asma</option>
                            <option value="Tuberculosis">Tuberculosis</option>
                            <option value="Tosferina">Tosferina</option>
                        </select>
                    </label>
                    <label for="paperas">
                        <span>Paperas:</span>
                        <select name="paperas" id="paperas">
                            <option value="Sí">Sí</option>
                            <option value="No">No</option>
                        </select>
                    </label>
                    <label for="hepatitis">
                        <span>Hepatitis:</span>
                        <select name="hepatitis" id="hepatitis">
                            <option value="Sí">Sí</option>
                            <option value="No">No</option>
                        </select>
                    </label>
                    <label for="infecciones_urinarias">
                        <span>Infecciones urinarias:</span>
                        <select name="infecciones_urinarias" id="infecciones_urinarias">
                            <option value="Sí">Sí</option>
                            <option value="No">No</option>
                        </select>
                    </label>
                    <label for="tifoidea">
                        <span>Tifoidea:</span>
                        <select name="tifoidea" id="tifoidea">
                            <option value="Sí">Sí</option>
                            <option value="No">No</option>
                        </select>
                    </label>
                    <label for="alergias_medicamentos">
                        <span>Alergias a medicamentos:</span>
                        <input type="text" name="alergias_medicamentos" id="alergias_medicamentos">
                    </label>
                    <label for="alergias_alimentos">
                        <span>Alergias a alimentos:</span>
                        <input type="text" name="alergias_alimentos" id="alergias_alimentos">
                    </label>
                    <label for="alergias_otros">
                        <span>Otras alergias:</span>
                        <input type="text" name="alergias_otros" id="alergias_otros">
                    </label>
                    <label for="hospitalizaciones">
                        <span>Hospitalizaciones previas (edad y razon):</span>
                        <input type="text" name="hospitalizaciones" id="hospitalizaciones">
                    </label>
                    <label for="operaciones">
                        <span>¿Le han operado? (edad y razon)</span>
                        <input type="text" name="operaciones" id="operaciones">
                    </label>
                </div>
                
                <div class="btn-centrado">
                    <button type="submit" id="submit-expediente" class="boton">Crear expediente</button>
                </div>

            </form>
        </div>
    </div>

    <footer id="page-footer" class="contenedor">
        <div>
            <p>
                Copyright <i class="fas fa-copyright"></i>
                2020. Todos los
                derechos reservados
            </p>
        </div>
    </footer>

    <!--Usaremos sweet alert para las alertas-->
    <script src="../node_modules/sweetalert2/dist/sweetalert2.all.min.js"></script>
    <!--Esto nos permite especificar codigo para el ejs y sweet alert-->
    <% if(typeof alert !="undefined" ) { %>
        <script>
            window.location = '/<%= ruta %>'
            Swal.fire({
                title: '<%= alertTitle %>',
                text: '<%= alertMessage %>',
                icon: '<%= alertIcon %>',
                showConfirmButton: <%= showConfirmButton %>,
                timer: <%= timer %>
            })
        </script>
        <% } %>
    

            <script type="module" src="resources/js/script.js"></script>
            <script type="module" src="resources/js/script-exp.js"></script>

</body>

</html>