<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema Consultorio</title>
    <link rel="stylesheet" href="resources/css/bootstrap.min.css">
    <link rel="stylesheet" href="resources/css/styles.css">
    <link rel="stylesheet" href="resources/css/styles_system.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&family=Quicksand:wght@300&family=Staatliches&display=swap"
        rel="stylesheet">
</head>

<body>

    <header class="contenedor" id="headerInicio">
        <div id="header-pagina">
            <nav>
                <div id="header-logo-dr">
                    <a href="/" id="logo-header">
                        <h2 class="logo">Dr. Raúl Langle Galindo</h2>
                        <span>MEDICO PEDIATRA</span>
                    </a>
                </div>
                <button type="button" id="boton-menu"><i class="fas fa-bars"></i></button>
                <div id="menu-nav">
                    <ul>
                        <li><a href="/system"><i class="fas fa-home"></i> Inicio</a></li>
                        <li><a href="/logout"><i class="fas fa-sign-out-alt"></i> Cerrar Sesión</a></li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>

    <main class="main-menu">

        <section class="menu-content center-flex">

            <div class="top-menu">
                <h1>Expedientes</h1>
            </div>

            <button id="boton-crear-exp" class="boton">Crear un expediente</button>
            
            <table class="tabla-expedientes">
                <tr>
                    <th>Nombre(s)</th>
                    <th>Apellido Paterno</th>
                    <th>Apellido Materno</th>
                    <th>Sexo</th>
                    <th>Fecha Nacimiento</th>
                </tr>
                <% pacientes.forEach( paciente => { %>
                    <tr>
                        <td> <% paciente.nombre %> </td>
                        <td> <% paciente.apellido_paterno %> </td>
                        <td> <% paciente.apellido_materno %> </td>
                        <td> <% paciente.sexo %> </td>
                        <td> <% paciente.fecha_nacimiento %> </td>
                    </tr>
                <% }) %>
            </table>

        </section>

    </main>

    <div id="popup-exp" class="popup-system">
        <button type="button" id="boton-cerrarCrearExp" class="boton-cerrar"><i
            class="fas fa-window-close"></i></button>
        <div class="exp-paciente">
            <h2 class="sub-title">Crear un expediente</h2>
            <form action="/crearExpediente" id="form-exp" method="post">
                <label for="nombre_paciente">
                    <input type="text" name="nombre_paciente" id="nombre_paciente" placeholder="Nombre(s) del paciente" required>
                </label>
                <label for="apellido_paterno_paciente">
                    <input type="text" name="apellido_paterno_paciente" id="apellido_paterno_paciente" placeholder="Apellido paterno del paciente" required>
                </label>
                <label for="apellido_materno_paciente">
                    <input type="text" name="apellido_materno_paciente" id="apellido_materno_paciente" placeholder="Apellido materno del paciente" required>
                </label>
                <label for="sexo_paciente">
                    <span>Sexo del paciente:</span><br>
                    <select id="sexo_paciente" name="sexo_paciente" required>
                        <option value="Masculino">Masculino</option>
                        <option value="Femenino">Femenino</option>
                    </select>
                </label>
                <label for="fecha_nacimiento">
                    <span>Fecha de nacimiento:</span>
                    <input type="date" name="fecha_nacimiento" id="fecha_nacimiento" placeholder="Fecha de nacimiento del paciente" required>
                </label>
                <label for="derechohabiente_paciente">
                    <span>Derechohabiente:</span><br>
                    <select id="derechohabiente_paciente" name="derechohabiente_paciente" required>
                        <option value="Ninguno">Ninguno</option>
                        <option value="IMSS">IMSS</option>
                        <option value="ISSSTE">ISSSTE</option>
                        <option value="ISSSTEP">ISSSTEP</option>
                        <option value="Seguro Popular">Seguro Popular</option>
                        <option value="Otro">Otro</option>
                    </select>
                </label>
                <button type="submit" id="submit-expediente" class="boton">Crear expediente</button>
            </form>
        </div>
    </div>

    <footer id="page-footer" class="contenedor">
        <div>
            <p>
                Copyright <i class="fas fa-copyright"></i>
                2020. Todos los
                derechos reservados
            </p>
        </div>
    </footer>

    <!--Usaremos sweet alert para las alertas-->
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <!--Esto nos permite especificar codigo para el ejs y sweet alert-->
    <% if(typeof alert !=  "undefined") { %>
        <script>
            Swal.fire({
                title: '<%= alertTitle %>',
                text: '<%= alertMessage %>',
                icon: '<%= alertIcon %>',
                showConfirmButton: <%= showConfirmButton %>,
                timer: <%= timer %>
            }).then(() => {
                window.location = '/<%= ruta %>'
            })
        </script>
    <% } %>

    <script type="module" src="resources/js/script.js"></script>
    <script type="module" src="resources/js/script-exp.js"></script>

</body>

</html>